:root {
  --brand-color: #2196f3;
  --primary-color: #000000;
  --text-color: #757575;
  --text-2-color: #212121;
  --title-color: #ffffff;
  --bg-light: #ececec;
  --bg-footer: #2f303a;
  --bg-picture: #eeeeee;
}
body {
  font-family: Roboto;
}
.footer {
  background-color: #2f303a;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: solid chartreuse;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}
